.post {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    width: 90%; /* Defina a largura desejada, considere a margem */
    box-sizing: border-box; /* Inclui a largura da borda e do preenchimento no cálculo da largura total */
    display: inline-block; /* Exibe os cards em linha */
    margin: auto;
    color:#000;
    position: relative;
    z-index: 1;
}

.post a {
    margin: 0;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    margin: auto;
}

.post p {
    line-height: 1.5;
}

.post .date {
    color: #999;
    font-size: 14px;
}

.post .thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post .content {
    color: #000;
    font-size: 15px;
}

.post content {
    text-decoration: none;
    /* Remove o sublinhado */
    color: #000000;
    /* Define a cor do texto do título */
    /* Adicione outros estilos desejados, como font-weight, font-size, etc. */
}

.post img {
    max-width: 100%;
    height: auto;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    .post {
      width: 100%;
    }
  }