.post {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-bottom: 30px;
    width: calc(33% - 20px); /* Defina a largura desejada, considere a margem */
    box-sizing: border-box; /* Inclui a largura da borda e do preenchimento no cálculo da largura total */
    display: inline-block; /* Exibe os cards em linha */
    margin: 5px;
    color: #000;
    z-index: 4;
    position: relative;
}

.post a {
    margin: 0;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

.post p {
    margin-top: 10px;
}

.post .date {
    color: #999;
    font-size: 14px;
}

.post .thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post:hover {
    transform: translateY(-5px);
  }

.post .content {
    color: #000;
    font-size: 15px;
    margin: 0;
}

.post content {
    text-decoration: none;
    /* Remove o sublinhado */
    color: #000000;
    /* Define a cor do texto do título */
    /* Adicione outros estilos desejados, como font-weight, font-size, etc. */
}

.post img {
    max-width: 100%;
    height: auto;
}

.post-title {
    margin: 0;
    font-size: 14px;
    color: #333;
  }

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    .post {
      width: 100%;
    }
  }