body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #fff;
    background-image: url('https://cdn.discordapp.com/attachments/978050756630433792/1130631224231206982/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}



h2 {
    margin: 0;
    line-height: .5;
}

.carousel {
    max-width: 800px;
    margin: 30px auto 30px;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    position: relative;
    z-index: 1;
}

.carousel .slide {
    display: none;
}

.carousel .slide.active {
    display: block;
}

.carousel img {
    width: 100%;
    cursor: pointer;
}



.carousel .prev,
.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}

.carousel .title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: none;
}

@media (max-width: 600px) {

    .carousel {
        height: 200px
    }

    .carousel .title {
        font-size: 14px;
        bottom: 0%;
    }

    .carousel .prev {
        left: 0px;
        top: 40%;
        /* Ajuste a posição vertical conforme necessário */
    }

    .carousel .next {
        right: 0px;
        top: 40%;
        /* Ajuste a posição vertical conforme necessário */
    }
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dbd7d7;
    border: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #555;
    color: #fff;
}

#load-more-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#load-more-button:hover {
    background-color: #555;
}

.custom-navbar {
    background-color: #333;
    /* Altere para a cor desejada */
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    margin-top: 1%;
}

.social-icons img {
    width: 4rem;
    margin-right: 10px;
}

/* Responsividade do Footer */
@media (max-width: 600px) {
    .container-footer {
        padding-top: 2%;
    }

    .container-footer p {
        margin-top: 10px;
        margin-left: 0;
        font-size: 70%;
    }

    .social-icons img {
        width: 2rem;

    }
}

.container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2%;
}

.container-banner a {
    width: 49%;
}

.container-banner a img {
    max-width: 100%;
    /* Adicione esta linha para que a imagem não exceda a largura do link */
}

@media (max-width: 600px) {
    .container-banner a {
        width: 80%;
        margin-top: 3%;
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.popup img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .popup {
        padding: 5px;
    }

    .popup img {
        max-height: 500px;
    }
}