.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.image-container img {
    width: 20%; /* Define o tamanho inicial das imagens */
    max-width: 100%; /* Impede que as imagens ultrapassem o tamanho máximo da tela */
    height: auto; /* Mantém a proporção da imagem */
    margin: 5px; /* Espaçamento entre as imagens */
    box-sizing: border-box; /* Inclui a margem no cálculo do tamanho total */
}

@media (max-width: 768px) {
    .image-container img {
        width: 30%; /* Reduz o tamanho das imagens em telas menores */
    }
}

@media (max-width: 576px) {
    .image-container img {
        width: 50%; /* Reduz ainda mais o tamanho das imagens em telas ainda menores */
    }
}